<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace根据自己需要创建的的mapper的路径和名称填写-->
<mapper namespace="org.worldme.assistant.mapper.UserMapper">
    <sql id="Standard_Fields_1">
        state,created_time,created_user,updated_time,updated_user
    </sql>
    <sql id="Standard_Fields_1_TimeFormat">
        state,DATE_FORMAT(created_time, '%Y-%m-%d %H:%i:%s') as created_time,created_user,DATE_FORMAT(updated_time, '%Y-%m-%d %H:%i:%s') as updated_time,updated_user
    </sql>
    <sql id="Standard_Fields_2">
        #{state},#{created_time},#{created_user},#{updated_time},#{updated_user}
    </sql>
    <sql id="Standard_Fields_3">
        <if test="state != null">state=#{state},</if>
        <if test="created_time != null">created_time=#{created_time},</if>
        <if test="created_user != null">created_user=#{created_user},</if>
        <if test="updated_time != null">updated_time=#{updated_time},</if>
        <if test="updated_user != null">updated_user=#{updated_user}</if>
    </sql>
    
    <select id="getData" parameterType="Map" resultType="Map">
        SELECT
            user_id, user_name, user_password, user_salt,
            <include refid="Standard_Fields_1_TimeFormat"/>
        FROM
            t_user
        <where>
            <if test="user_id != null and user_id != ''">user_id = #{user_id}</if>
            <if test="user_name != null and user_name != ''">OR user_name = #{user_name}</if>
        </where>
    </select>

    <select id="getDetail" parameterType="Map" resultType="Map">
        SELECT
            user_id, user_profile_photo, user_nickname,
            user_gender, user_birthday, user_email,
            user_phone, user_level, user_xp, user_coin,
            <include refid="Standard_Fields_1_TimeFormat"/>
        FROM
            t_user_info
        where
            user_id = #{user_id}
    </select>
    
    <insert id="addData" parameterType="Map" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO t_user(
            user_id, user_name, user_password, user_salt,
            <include refid="Standard_Fields_1"/>
        )
        VALUES (
            #{user_id}, #{user_name}, #{user_password}, #{user_salt},
            <include refid="Standard_Fields_2"/>
        )
    </insert>

    <insert id="addDetail" parameterType="Map">
        INSERT INTO t_user_info(
            user_id, user_profile_photo, user_nickname,
            user_gender, user_birthday, user_email,
            user_phone, user_level, user_xp, user_coin,
            <include refid="Standard_Fields_1"/>
        )
        VALUES (
            #{user_id}, #{user_profile_photo}, #{user_nickname},
            #{user_gender}, #{user_birthday}, #{user_email},
            #{user_phone}, #{user_level}, #{user_xp}, #{user_coin},
            <include refid="Standard_Fields_2"/>
        )
    </insert>

    <update id="updateData" parameterType="Map">
        UPDATE t_user SET
            <if test="user_password != null">user_password = #{user_password},</if>
            <if test="user_salt != null">user_salt = #{user_salt},</if>
            <include refid="Standard_Fields_3"/>
        <where>
            user_id = #{user_id}
        </where>
    </update>

    <update id="updateDetail" parameterType="Map">
        UPDATE t_user_info SET
            <if test="user_profile_photo != null">user_profile_photo = #{user_profile_photo},</if>
            <if test="user_nickname != null">user_nickname = #{user_nickname},</if>
            <if test="user_gender != null">user_gender = #{user_gender},</if>
            <if test="user_birthday != null">user_birthday = #{user_birthday},</if>
            <if test="user_email != null">user_email = #{user_email},</if>
            <if test="user_phone != null">user_phone = #{user_phone},</if>
            <if test="user_level != null">user_level = #{user_level},</if>
            <if test="user_xp != null">user_xp = #{user_xp},</if>
            <if test="user_coin != null">user_coin = #{user_coin},</if>
            <include refid="Standard_Fields_3"/>
        <where>
            user_id = #{user_id}
        </where>
    </update>



</mapper>